.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.App__list {
  width: 450px;
}

.App__selected {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}

.App__button {
  background-color: pink;
  border: none;
  color: #333333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App__button:hover {
  background-color: pink;
  opacity: 0.9;
}

.App__error-message {
  color: #e74c3c;
}
